@import 'variables';

// header
.navigation{
  background-color: $blue;
}
.navigation-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 0px;
  padding: 20px;

  list-style-type: none;

  a{
    text-decoration: none;
    color: $white;
    font-family: $mainFont;

    transition: $speedAnimation;
  }

  a:hover{
    color: $yellow;
  }
}

// main content
.main{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.about-me{
  width: 40%;
  height: 100%;
  background-color: $blueLight;
}

.my-photo{
  margin: 0 auto;
  padding: 20px 0px 20px 0px;

  display: block;

  border-radius: 50%;
}