@import 'variables';

// general

h2{
  padding-left: 10px;

  font-family: $mainFont;

  border-left: 10px solid $yellow;
}

// end general

// header
.navigation{
  background-color: $blue;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 0px;
  padding: 20px;

  list-style-type: none;

  a{
    text-decoration: none;
    color: $white;
    font-family: $mainFont;

    transition: $speedAnimation;
  }

  a:hover{
    color: $yellow;
  }
}
// end header

// main content
.main{
  margin: 0;
  padding: 0;
}
.wrapper{
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  max-width: 1080px;

  font-family: $mainFont;
  color: white;

  background-color: $white;
}

.photo-and-name{
  display: flex;
  flex-direction: row;
}

.main-information{
  padding-top: 100px;
  padding-bottom: 150px;
  padding-left: 40px;
}

.contact-item{
  margin-bottom: 10px;
}

// education
  .education-img{
    width: 300px;
    height: 200px;

    background-image: url('/assets/jpg/stage0.jpg');
    background-size: cover;
  }

// about me
.face-information{
  padding: 20px 20px 20px 50px;

  background-color: $blueLight;
}

.my-photo{
  // margin: 0 auto;
  padding: 20px 0px 20px 0px;

  display: block;

  border-radius: 50%;
}

// my skills
.my-skills{
  padding: 20px 20px 20px 50px;

  color: black;

  div{
    padding-bottom: 50px;
  }
}

code{
  white-space: pre-wrap;
}

// code examples

.code-example{
  max-height: 0px;

  cursor: pointer;

  border-bottom: 3px solid black;

  overflow: hidden;

  transition: 1s;
}

.code-example:hover{
  max-height: 2000px;
}

// .code-example-open{
//   height: auto;
// }

// .name-example:before{
//   position: absolute;
//   bottom: -10px;
//   content: " ";
//   border-bottom: 1px solid black;
//   // transform: scale(0,1);
//   width: 100%;
//   transition: transform $speedAnimation;
// }

// .name-example:hover:before{
//   transform: scale(1,1);
// }

// strengths

.strengths{
  padding: 20px 20px 20px 50px;

  color: black;
}

.strengths-list{
  li{
    margin-bottom: 10px;
  }
}


// my-projects
.my-projects{
  padding: 20px 20px 20px 50px;

  color: black;
}

.project-section{
  max-height: 50px;

  cursor: pointer;

  border-bottom: 3px solid black;

  overflow: hidden;

  transition: 1s;
}

.project-section:hover{
  max-height: 2000px;
}

.project-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
// end main content