// colors
$blue: rgb(90, 90, 197);
$blueLight: rgb(113, 113, 179);
$white: rgb(241, 235, 235);
$yellow: rgb(255, 255, 0);

// font 
$mainFont: 'Ubuntu', sans-serif;

// animations
$speedAnimation: 1s;